#name of the program, identical to subfolder in REPOSITORY/programs/
program = APcluster/apcluster
# list of parameters of the program
parameters = preference,maxits,convits,dampfact
# list of valid optimization parameters
optimizationParameters = preference,maxits,convits,dampfact
# the input formats this program supports
compatibleDataSetFormats = APRowSimDataSetFormat
# this result format of this program
outputFormat = APRunResultFormat
alias = Affinity Propagation

[invocationFormat]
invocationFormat = %e% %i% %preference% %o% maxits=%maxits% convits=%convits% dampfact=%dampfact%

# A section for the parameter "maxits"
[maxits]
# description
desc = Max iterations
# type 1=integer, 2=float, 0=string
type = 1
# default value
def = 2000
# minimal value
minValue = 2000
# maximal value
maxValue = 5000

[convits]
desc = Cluster Center duration
type = 1
def = 200
minValue = 200
maxValue = 500

[dampfact]
type = 2
def = 0.9
minValue = 0.7
maxValue = 0.99

[preference]
desc = Preference
type = 2
def = $(meanSimilarity)
minValue = $(minSimilarity)
maxValue = $(maxSimilarity)
