program = MCL/mcl-12-068
parameters = I
optimizationParameters = I
compatibleDataSetFormats = RowSimDataSetFormat
outputFormat = MCLRunResultFormat
alias = Markov Clustering

[invocationFormat]
invocationFormat = %e% %i% --abc -o %o% -I %I%

[I]
desc = Inflation
type = 2
def = 2.0
minValue = 1.1
maxValue = 10.0