program = TransClust/TransClust.jar
parameters = minT,maxT,T,tss,mode
optimizationParameters = T
compatibleDataSetFormats = RowSimDataSetFormat
outputFormat = TransClustRunResultFormat
alias = Transitivity Clustering

[invocationFormat]
invocationFormat = java -jar %e% -i %i% -sim %i% -gs %gs% -o %o% -minT %minT% -maxT %maxT% -tss %tss% -mode %mode% -verbose

[T]
desc = Threshold
type = 2
def = $(meanSimilarity)
minValue = $(minSimilarity)
maxValue = $(maxSimilarity)

[minT]
desc = min. Threshold
type = 2
def = 0.8

[maxT]
desc = min. Threshold
type = 2
def = 1.0

[tss]
desc = Threshold stepsize
type = 2
def = 0.01

[mode]
type = 1
def = 2
